{% extends "base.html" %}

{% block title %}Reform MI Dems{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h2>Sign up for the email list </h2>
        <form action="." method="post">
            <table class="table">
                {{ email_list_form.as_table }}
                {% csrf_token %}
            </table>
            <p><input type="submit" value="Sign up"></p>
        </form>
    </div>
</div>
{% endblock %}