{% extends "base.html" %}

{% block title %}Reform MI Dems{% endblock %}

{% block content %}
<div class="container">
    <h2>
        <u>Why open-source?</u>
    </h2>
    <h3>
        Open source is a way for many individuals to volunteer and contribute to tools and centralized resources that everyone can use.
    </h3>
    <h2>
        <u>What can I do to help?</u>
    </h2>
    <h3>
        You can sign up to volunteer <a href="{% url 'home:volunteer' %}">here</a>
    </h3>
</div>
{% endblock %}