{% extends "base.html" %}

{% block title %}Reform MI Dems{% endblock %}

{% block content %}
<div class="container">

    <div class="jumbotron text-center">
        <h1>
            Reform MI Dems
        </h1>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="jumbotron text-center">
                <a href="/what">
                    <h2><u>What</u></h2>
                </a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="jumbotron text-center">
                <a href="/how">
                    <h2><u>How</u></h2>
                </a>
            </div>
        </div>
    </div>
    <div class="jumbotron text-center">
        <a href="/projects">
            <h2><u>Project List</u></h2>
        </a>
    </div>
</div>

{% endblock %}

