{% extends "base.html" %}

{% block title %}Reform MI Dems{% endblock %}

{% block content %}
<div class="container">
    <h2>
        <a href="https://gitlab.com/rdubwiley/election-analysis-starter-kit">
            <u>Election Analysis Starter Kit</u>
        </a>
    </h2>
    <h2>
        <a href="https://gitlab.com/rdubwiley/voter_file_api">
            <u>Voter File API</u>
        </a>
    </h2>
</div>
{% endblock %}