{% extends "base.html" %}

{% block title %}Reform MI Dems{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h2 class='text-center'>RMD needs volunteers to help with our projects</h2>
        <h2 class='text-center'>Sign up here!</h2>
        <form action="." method="post">
            <table class="table">
                {{ volunteer_form.as_table }}
                {% csrf_token %}
            </table>
            <p><input type="submit" value="Sign up"></p>
        </form>
    </div>
</div>
{% endblock %}