{% extends "base.html" %}

{% block title %}Reform MI Dems{% endblock %}

{% block content %}
<div class="container">
    <h2>
        <u>Who are we?</u>
    </h2>
    <h3>
        Reform MI Dems is dedicated to improving the Democratic Party through open-source technologies. Through this, we hope to make the party and related political systems more transparent, more open, and more fair.
    </h3>
    <h2>
        <u>What things do we do?</u>
    </h2>
    <h3>
        We find problems that limit open participation and use open technologies like the web to solve them. Our first project was an open source app that made it easier for individuals to sign up for the Michigan Democratic Party through a free membership form.
    </h3>
    <h2>
        <u>How do we contact you?</u>
    </h2>
    <h3>
        The best way to contact us is through: ryan.wiley@reformmidems.com
    </h3>
</div>
{% endblock %}