{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}

{% load blog_tags %}
{% load static %}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
    {% endblock %}
  </title>
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-73408136-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-73408136-2');
    </script>

    </head>

<body>
    <nav class="navbar navbar-default" id="navbar-header">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="white navbar-brand" href="/">Reform MI Dems</a>
          </div>
  
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/what">What</a></li>
                    <li><a href="/how">How</a></li>
                </ul>
                </li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Get Involved <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/email">Email List</a></li>
                    <li><a href="/volunteer">Volunteer</a></li>
                </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/projects">Project List</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'blog:post_list' %}">
                        Blog
                    </a>
                </li>
          </ul>
          </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
  </nav> 
  <div class="container">
    <h1 class="text-center">
        The Reform MI Dems Blog
    </h1>
    <div class="row">
        <div class="content col-sm-9">
            {%block content %}
            {% endblock %}
        </div>
        <div class="sidebar col-sm-3 text-center">
            <p>
                <a href="{% url 'blog:post_feed' %}">
                    Subscribe (RSS)
                </a>
            </p>
            <h3>Latest posts</h3>
            {% show_latest_posts 3 %}
            <h3>Hottest posts</h3>
            {% get_most_commented_posts as most_commented_posts %}
            <ul>
            {% for post in most_commented_posts %}
                <li>
                    <a href="{{ post.get_absolute_url }}">
                        {{ post.title }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>   
    </div>
    
  </div>
  <!-- Footer -->
  <br>
  <footer class="page-footer navbar-fixed-bottom">
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> reformmidems.com</a>
      <a href="/privacy"> Privacy </a> 
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
  {% bootstrap_javascript %}

  {# Display django.contrib.messages as Bootstrap alerts #}
  {% bootstrap_messages %}
</body>
</html>