{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}

<!doctype html>
<html>
    <head>

    </head>
    <body>
        <h3>Dear {{ first_name  }},</h3>
        <h3>Thank you for signing up for the email list.</h3>
    </body>
</html>