{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}

<!doctype html>
<html>
    <head>

    </head>
    <body>
        <h3>Dear {{first_name}},</h3>
        <h3>Thank you for indicating your interest in volunteering. We'll reach out to you shortly.</h3>
    </body>
</html>