/* navbar */

.navbar {
    background-color: rgb(48, 48, 247);
    border-color: rgb(48, 48, 247);
}

.navbar-default {
    background-color: rgb(48, 48, 247);
    border-color: rgb(48, 48, 247);
}

/* Title */
.navbar-default .navbar-brand {
    color: whitesmoke;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: lightgray;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: whitesmoke;
    font-size: 16px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{
    color: lightcoral;
}
.navbar-default .navbar-nav > li > a:visited {
    color: whitesmoke;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: lightgray;
    background-color: rgb(48, 48, 247);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: lightgray;
    background-color: rgb(48, 48, 247);
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: whitesmoke;
    border-bottom-color: whitesmoke;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    color: whitesmokesmoke;
    border-top-color: reyg;
    border-bottom-color: whitesmokesmoke;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: whitesmoke;
    border-bottom-color: whitesmoke;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: whitesmoke;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: whitesmoke;
    }
}

.page-footer {
    background-color: black;
    color: white;
}